bin/
obj/
Properties/
.vs/
vs/
vscode/
*.user
*.suo
*.log
*.tmp
*.cache
.vscode/
*.idea/
*.DS_Store
*.class
*.jar
*.war
*.ear
*.iml
*.swp
*.bak
*.orig
*.rej
*.pyc
packages/
*.pdb
instrution.md
summary.md
gui.md
test.md
Test.cs
data/
output/